<h1 class="animated fadeIn fast">Sobre Comic App</h1>
<!-- animated fadeIn fast -->
<hr>

<p class="animated fadeIn fast">
    <!-- animated fadeIn fast -->
Lorem ipsum dolor sit, amet consectetur adipisicing elit. Adipisci ab recusandae commodi nemo. Quibusdam ipsa rem quidem aperiam porro impedit nisi nesciunt repudiandae, omnis temporibus, dignissimos quasi iusto id enim.
Lorem ipsum dolor sit, amet consectetur adipisicing elit. Adipisci ab recusandae commodi nemo. Quibusdam ipsa rem quidem aperiam porro impedit nisi nesciunt repudiandae, omnis temporibus, dignissimos quasi iusto id enim.
Lorem ipsum dolor sit, amet consectetur adipisicing elit. Adipisci ab recusandae commodi nemo. Quibusdam ipsa rem quidem aperiam porro impedit nisi nesciunt repudiandae, omnis temporibus, dignissimos quasi iusto id enim.
Lorem ipsum dolor sit, amet consectetur adipisicing elit. Adipisci ab recusandae commodi nemo. Quibusdam ipsa rem quidem aperiam porro impedit nisi nesciunt repudiandae, omnis temporibus, dignissimos quasi iusto id enim.
Lorem ipsum dolor sit, amet consectetur adipisicing elit. Adipisci ab recusandae commodi nemo. Quibusdam ipsa rem quidem aperiam porro impedit nisi nesciunt repudiandae, omnis temporibus, dignissimos quasi iusto id enim.
Lorem ipsum dolor sit, amet consectetur adipisicing elit. Adipisci ab recusandae commodi nemo. Quibusdam ipsa rem quidem aperiam porro impedit nisi nesciunt repudiandae, omnis temporibus, dignissimos quasi iusto id enim.
Lorem ipsum dolor sit, amet consectetur adipisicing elit. Adipisci ab recusandae commodi nemo. Quibusdam ipsa rem quidem aperiam porro impedit nisi nesciunt repudiandae, omnis temporibus, dignissimos quasi iusto id enim.

</p>